header {
    height: 65px;
    padding: 0 300px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 2px 0px rgba(229, 229, 229, 0.5);
    align-items: center; /* flexのの縦方向の中央揃え */
  }
  
  div {
    font-size: 18px;
    font-weight: 600;
    width: 300px;
    display: flex;
    justify-content: space-around;
  }
  
  h1{
    font-size: 20px;
    font-weight: bold;
  }
